/* Keep code small in tables on account of limited space */
.table code {
    font-size: 13px;
    font-weight: normal;
}

/* Inline code within headings retain the heading's background-color */
h2 code, h3 code, h4 code {
    background-color: inherit;
}

/*
 * Docs sections
 *
 * Content blocks for each component or feature.
 */
/* Space things out */
.bs-docs-section:last-child {
    margin-bottom: 0;
}

/*
 * Wall of Browser Bugs
 *
 * Better display for the responsive table on the Wall of Browser Bugs.
 */
.bs-docs-browser-bugs td p {
    margin-bottom: 0;
}

.bs-docs-browser-bugs th:first-child {
    width: 18%;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.algolia-autocomplete .aa-dropdown-menu {
    margin-left: -110px;
    margin-top: -4px;
    font-size: 14px;
}

.algolia-autocomplete {
    vertical-align: top;
    height: 53px
}

.algolia-docsearch-suggestion {
    border-bottom-color: #c05b4d
}

.algolia-docsearch-suggestion--category-header {
    background-color: #cc7a6f
}

.algolia-docsearch-suggestion--highlight {
    color: #c05b4d
}

.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
    background-color: #c05b4d
}

.aa-cursor .algolia-docsearch-suggestion--content {
    color: #c05b4d
}

.aa-cursor .algolia-docsearch-suggestion {
    background: #f1f3f5
}
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*
 * AnchorJS Styles
 */
.anchorjs-link {
    color: inherit;
}

@media (max-width: 480px) {
    .anchorjs-link {
        display: none;
    }
}

*:hover > .anchorjs-link {
    opacity: .75;
    -webkit-transition: color .16s linear;
    -o-transition: color .16s linear;
    transition: color .16s linear;
}

*:hover > .anchorjs-link:hover, .anchorjs-link:focus {
    text-decoration: none;
    opacity: 1;
}

/* Nullify ill-advised printing of hrefs; see #18711 */
@media print {
    a[href]:after {
        content: "" !important;
    }
}